<table class="table mt-3">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Match NO</th>
            <th scope="col">Date</th>
            <th scope="col">Time</th>
            <th scope="col">Home Team</th>
            <th scope="col">Away Team</th>
            <th scope="col">Venue</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>20-March-2024</td>
            <td>7:00 PM</td>
            <td>Brazil</td>
            <td>America</td>
            <td>Mavacana Stadium</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>21-March-2024</td>
            <td>7:00 PM</td>
            <td>England</td>
            <td>India</td>
            <td>Wembley Stadium</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>22-March-2024</td>
            <td>7:00 PM</td>
            <td>America</td>
            <td>England</td>
            <td>Spartan Stadium</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>23-March-2024</td>
            <td>7:00 PM</td>
            <td>England</td>
            <td>Brazil</td>
            <td>London Stadiu</td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td>24-March-2024</td>
            <td>7:00 PM</td>
            <td>India</td>
            <td>Brazil</td>
            <td>Salt Lake Stadium</td>
        </tr>
        <tr>
            <th scope="row">6</th>
            <td>25-March-2024</td>
            <td>7:00 PM</td>
            <td>America</td>
            <td>India</td>
            <td>Caesaras Stadium</td>
        </tr>
    </tbody>
</table>