<div class="home-container">


    <nav>
        <i class="fa-regular fa-futbol"></i>
        <ul>
            <li><a routerLink="" routerLinkAtive="active" class="match">Home </a></li>
            <li><a routerLink="match" routerLinkAtive="active" class="match">Compete </a></li>
            <li><a routerLink="" routerLinkAtive="active" class="match">Back </a></li>
            <li>Profile
                <span><i class="fa-solid fa-user"></i></span>
            </li>
        </ul>
    </nav>


    <div class="content">

        <div class="left">

            <h1 class="heading">Matches</h1>
            <table>
                <tr>
                    <th>Date</th>
                    <th>TeamA</th>
                    <th>TeamB</th>
                    <th>Venue</th>
                </tr> <br>
                <tr>
                    <td>21-03-24</td>
                    <td>Argentina</td>
                    <td>Brazil</td>
                    <td>Melborune Stadium</td>

                </tr>
                <tr>
                    <td>22-03-24</td>
                    <td>India</td>
                    <td>Portugal</td>
                    <td>Salt Lake Stadium</td>
                </tr>
                <tr>
                    <td>23-03-24</td>
                    <td>France</td>
                    <td>England</td>
                    <td>Weblemy Stadium</td>
                </tr>
                <tr>
                    <td>24-03-24</td>
                    <td>Argentina</td>
                    <td>India</td>
                    <td>London Stadium</td>
                </tr>
                <tr>
                    <td>25-03-24</td>
                    <td>England</td>
                    <td>France</td>
                    <td>Mavacana Stadium</td>
                </tr>
                <tr>
                    <td>26-03-24</td>
                    <td>Portugal</td>
                    <td>Brazil</td>
                    <td>Spartan Stadium</td>
                </tr>
            </table>


        </div>

    </div>
    <div class="right">
        <div class="follow us">
            <h2>Follow us</h2>
            <h2>For latest Updates</h2>
            <div class="social-profiles">
                <i class="fab fa-facebook"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-youtube"></i>
            </div>
        </div>
    </div>
</div>