<div class="home-container">

    <nav>
        <i class="fa-regular fa-futbol"></i>
        <ul>
            <li><a routerLink="" routerLinkAtive="active" class="match">Home</a></li>
            <li><a routerLink="match" routerLinkAtive="active" class="match">Compete </a></li>
            <li><a routerLink="" routerLinkAtive="active" class="match">Back </a></li>
            <li>Profile
                <span><i class="fa-solid fa-user"></i></span>
            </li>
        </ul>
    </nav>


    <div class="content">

        <div class="left">

            <h1 class="heading">France Team</h1>
            <div class="teams">
                <div class="team">
                    <img src="/assets/ar1.jpg" alt="">
                    <p>Marcos Acuna</p>

                </div>

                <div class="team">
                    <img src="/assets/ar2.jpg" alt="">
                    <p>Julian Alvarez</p>

                </div>
                <div class="team">
                    <img src="/assets/ar3.jpg" alt="">
                    <p>Paulo Dybala</p>

                </div>
                <div class="team">
                    <img src="/assets/ar4.jpg" alt="">
                    <p>Cristian Romero</p>

                </div>
                <div class="team">
                    <img src="/assets/ar5.jpg" alt="">
                    <p>Leandra Paredes</p>

                </div>
                <div class="team">
                    <img src="/assets/ar6.jpg" alt="">
                    <p>Thiago Almada</p>

                </div>
                <div class="team">
                    <img src="/assets/ar7.jpg" alt="">
                    <p>Nahuel Molina</p>

                </div>
                <div class="team">
                    <img src="/assets/ar8.jpg" alt="">
                    <p>Gonzalo Montiel</p>

                </div>
                <div class="team">
                    <img src="/assets/ar9.jpg" alt="">
                    <p>Amgel Correa</p>

                </div>
                <div class="team">
                    <img src="/assets/ar10.jpg" alt="">
                    <p>Lucas Beltran</p>

                </div>
                <div class="team">
                    <img src="/assets/ar11.jpg" alt="">
                    <p>Juan Musso</p>

                </div>



            </div>

        </div>
        <div class="right">
            <div class="follow us">
                <h2>Follow us</h2>
                <h2>For latest Updates</h2>
                <div class="social-profiles">
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-youtube"></i>
                </div>
            </div>
        </div>
    </div>