<div class="home-container">

    <nav>
        <i class="fa-regular fa-futbol"></i>
        <ul>
            <li><a routerLink="" routerLinkAtive="active" class="match">Home</a></li>
            <li><a routerLink="match" routerLinkAtive="active" class="match">Compete </a></li>
            <li><a routerLink="" routerLinkAtive="active" class="match">Back </a></li>
            <li>Profile
                <span><i class="fa-solid fa-user"></i></span>
            </li>
        </ul>
    </nav>


    <div class="content">

        <div class="left">

            <h1 class="heading">India Team</h1>
            <div class="teams">
                <div class="team">
                    <img src="/assets/in1.jpg" alt="">
                    <p>Sunil Chhetri</p>

                </div>

                <div class="team">
                    <img src="/assets/in2.jpg" alt="">
                    <p>Sahal</p>

                </div>
                <div class="team">
                    <img src="/assets/in3.jpg" alt="">
                    <p>Gurpreet Singh</p>

                </div>
                <div class="team">
                    <img src="/assets/in4.jpg" alt="">
                    <p>Manvir Singh</p>

                </div>
                <div class="team">
                    <img src="/assets/in5.jpg" alt="">
                    <p>Sandesh Jhingan</p>

                </div>
                <div class="team">
                    <img src="/assets/in6.jpg" alt="">
                    <p>Rahul</p>

                </div>
                <div class="team">
                    <img src="/assets/in7.jpg" alt="">
                    <p>Anirudh Thapa</p>

                </div>
                <div class="team">
                    <img src="/assets/in8.jpg" alt="">
                    <p>Anwar Ali</p>

                </div>
                <div class="team">
                    <img src="/assets/in9.jpg" alt="">
                    <p>Brandon</p>

                </div>
                <div class="team">
                    <img src="/assets/in10.jpg" alt="">
                    <p>Liston colaco</p>

                </div>
                <div class="team">
                    <img src="/assets/in11.jpg" alt="">
                    <p>Nikhil Poojary</p>

                </div>



            </div>

        </div>
        <div class="right">
            <div class="follow us">
                <h2>Follow us</h2>
                <h2>For latest Updates</h2>
                <div class="social-profiles">
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-youtube"></i>
                </div>
            </div>
        </div>
    </div>