<div class="home-container">

    <nav>
        <i class="fa-regular fa-futbol"></i>
        <ul>
            <li><a routerLink="" routerLinkAtive="active" class="match">Home</a></li>
            <li><a routerLink="match" routerLinkAtive="active" class="match">Compete </a></li>
            <li><a routerLink="" routerLinkAtive="active" class="match">Back </a></li>
            <li>Profile
                <span><i class="fa-solid fa-user"></i></span>
            </li>
        </ul>
    </nav>


    <div class="content">

        <div class="left">

            <h1 class="heading">Brazil Team</h1>
            <div class="teams">
                <div class="team">
                    <img src="/assets/br1.jpg" alt="">
                    <p>Neymar</p>

                </div>

                <div class="team">
                    <img src="/assets/br2.jpg" alt="">
                    <p>Endrick</p>

                </div>
                <div class="team">
                    <img src="/assets/br3.jpg" alt="">
                    <p>Vinicius Junior</p>

                </div>
                <div class="team">
                    <img src="/assets/br4.jpg" alt="">
                    <p>Richarlison</p>

                </div>
                <div class="team">
                    <img src="/assets/br5.jpg" alt="">
                    <p>Caseemiro</p>

                </div>
                <div class="team">
                    <img src="/assets/br6.jpg" alt="">
                    <p>Rodrygo</p>

                </div>
                <div class="team">
                    <img src="/assets/br7.jpg" alt="">
                    <p>Joao Pedro</p>

                </div>
                <div class="team">
                    <img src="/assets/br8.jpg" alt="">
                    <p>Gabriel Jesus</p>

                </div>
                <div class="team">
                    <img src="/assets/br9.jpg" alt="">
                    <p>Gabriel Martinelli</p>

                </div>
                <div class="team">
                    <img src="/assets/br10.jpg" alt="">
                    <p>Carlos</p>

                </div>
                <div class="team">
                    <img src="/assets/br11.jpg" alt="">
                    <p>Joelinton</p>

                </div>



            </div>

        </div>
        <div class="right">
            <div class="follow us">
                <h2>Follow us</h2>
                <h2>For latest Updates</h2>
                <div class="social-profiles">
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-youtube"></i>
                </div>
            </div>
        </div>
    </div>