<h1 class="heading">Foot Ball Teams</h1>

<div class="container">
    <div class="team">
        <a routerLink="india" routerLinkAtive="active">India</a>
    </div>

    <div class="team">
        <a routerLink="america" routerLinkAtive="active">America </a>
    </div>

    <div class="team">
        <a routerLink="england" routerLinkAtive="active">England</a>
    </div>

    <div class="team">
        <a routerLink="brazil" routerLinkAtive="active">Brazil </a>
    </div>
</div>