<div class="home-container">

    <nav>
        <i class="fa-regular fa-futbol"></i>
        <ul>
            <li><a routerLink="" routerLinkAtive="active" class="match">Home </a></li>
            <li><a routerLink="match" routerLinkAtive="active" class="match">Compete </a></li>

            <li><a routerLink="booking" routerLinkAtive="active" class="match">Ticket Booking </a></li>
            <li>Online</li>
            <li>Profile
                <span><i class="fa-solid fa-user"></i></span>
            </li>
        </ul>
    </nav>


    <div class="content">

        <div class="left">

            <h1 class="heading">Foot Ball Teams</h1>
            <div class="teams">
                <div class="team">
                    <img src="/assets/india.jpg" alt="">
                    <a routerLink="india" routerLinkAtive="active">
                        <p>India</p>
                    </a>
                </div>

                <div class="team">
                    <img src="/assets/argentinia.jpg" alt="">
                    <a routerLink="argentina" routerLinkAtive="active">
                        <p>Argentina</p>
                    </a>
                </div>

                <div class="team">

                    <img src="/assets/portugal.jpg" alt="">
                    <a routerLink="portugal" routerLinkAtive="active">
                        <p>portugal</p>
                    </a>
                </div>

                <div class="team">

                    <img src="/assets/brazil.jpg" alt="">
                    <a routerLink="brazil" routerLinkAtive="active">
                        <p>Brazil</p>
                    </a>

                </div>

                <div class="team">
                    <img src="/assets/england.jpg" alt="">
                    <a routerLink="england" routerLinkAtive="active">
                        <p>England</p>
                    </a>
                </div>

                <div class="team">

                    <img src="/assets/france.jpg" alt="">
                    <a routerLink="france" routerLinkAtive="active">
                        <p>France</p>
                    </a>
                </div>
            </div>

        </div>
        <div class="right">
            <div class="follow us">
                <h2>Follow us</h2>
                <h2>For latest Updates</h2>
                <div class="social-profiles">
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-youtube"></i>
                </div>
            </div>
        </div>
    </div>