<div class="nav">
    <h1>Ticket Booking</h1>
    <div class="box">
        <a routerLink="" routerLinkActive="Active" class="back">Back</a>
    </div>
</div>

<section id="one-page">
    <div class="container">
        <!-- Title -->
        <div class="row">
            <h1 class="text-light">Ticket Booking</h1>
        </div>

        <div class="row mt-4">
            <!-- insertion section -->
            <div class="col-lg-5" id="insertion_section">
                <form class="form-group justify-content-center">
                    <div class="row" id="name-section">
                        <label for="personName" class="text-light">Name</label>
                        <input type="text" class="form-control" id="personName">
                    </div>
                    <div class="row" id="author-section">
                        <label for="mnum" class="text-light">Mobile No </label>
                        <input type="number" class="form-control" id="mnum">
                    </div>
                    <div class="row" id="publisher-section">
                        <label for="mdate" class="text-light">matchdate</label>
                        <input type="date" class="form-control" id="mdate">
                    </div>
                    <div class="row" id="name-section">
                        <label for="venue" class="text-light">matchvenue</label>
                        <input type="text" class="form-control" id="venue">
                    </div>


                    <div class="add-button mt-4">
                        <button type="button" class="btn btn-danger btn-block" id="add" (click)="connectToBackend()">BOOK</button>
                    </div>
                    <script type="module" src="/sport-backend/server.js"></script>
                </form>
            </div>
        </div>
    </div>
</section>